.btn-primary {
  background-color: #FFB494;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border-radius: 10px;
}

.btn-primary:active {
  box-shadow: none;
  background-color: lightpink;
}